

<!DOCTYPE html>
<html lang="en">
    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Work Schedule</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
</head>


<body class="bg-gray-100 flex justify-center items-center h-screen ">
    <!-- Overlay -->
    {% block content %}
    <div class="hidden fixed top-0 left-0 w-full h-full bg-black opacity-50 z-10" id="overlay"></div>

    <!-- Modal -->
    <div class="hidden w-4/12 max-w-lg mx-auto h-70vh fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-5 px-12 rounded-md shadow-md z-20" id="modal">
        <h2 class="text-2xl font-bold mb-4 pb-6 border-b border-blue-300 flex justify-between items-center font-inter">
            Add Work Schedule
            <a href="#">
                <div class="flex items-center">
                    <div id="exitBtn" class="w-6 h-6 flex justify-center items-center border border-red-400 rounded-full text-red-500 text-xs">
                        &#x2715;
                    </div>
                </div>
            </a>
            
        </h2>
        
        
        
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="Work-Schedule-Name" class="text-sm font-bold block text-s text-black font-inter">Work Schedule Name</label> 
                <input type="text" id="title" name="title" placeholder="Work Schedule 1" class="border-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm py-1 pl-3 pr-10 text-sm focus:ring focus:ring-blue-200 focus:ring-opacity-50 hover:border-blue-600 focus:border-blue-600 focus:outline-none" onfocus="handleInputFocus()" onblur="handleInputBlur()">
            
            </div>
            <div class="mb-4">
                <label for="Work-Schedule-Type" class="text-sm font-bold block text-s text-black">Work Schedule Type</label>
                <div class="relative">
                    <select class="text-sm block w-full rounded-md border-2 border-gray-300 shadow-sm py-1 pl-3 pr-10 appearance-none hover:border-blue-600 focus:border-blue-600 focus:outline-none">
                        <option  disabled selected value="">Others</option>
                        <option value="option1">Select</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-400">
                        <!-- Heroicon name: solid/chevron-down -->
                        <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 12.586L4.707 7.293a1 1 0 00-1.414 1.414l6 6a1 1 0 001.414 0l6-6a1 1 0 10-1.414-1.414L10 12.586z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <label for="description" class="text-sm font-bold block text-s text-black">Work Description</label>
                <textarea id="description" name="description" placeholder="Enter Work Description" class="border-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm py-1 pl-3 pr-10 text-sm hover:border-blue-600 focus:border-blue-600 focus:outline-none h-32 resize-none" onfocus="handleInputFocus()" onblur="handleInputBlur()"></textarea>
            </div>
            <div class="flex items-center">
                <label class="pb-3 text-sm font-bold block text-black">Select an approver</label>
            </div>
            <div class="flex items-center justify-between">
                <label class="text-xs block text-black mr-3">Level Head</label>
                <div class="flex items-center">
                    <input type="checkbox" id="myCheckbox" name="myCheckbox">
                    <label class="text-xs block pl-2 text-black ml-1" for="myCheckbox">Automatic</label>
                </div>
            </div>
            
            <div class="pt-4">
                <div class="relative">
                    <select class="text-sm block w-full rounded-md border-2 border-gray-300 shadow-sm py-1 pl-3 pr-10 appearance-none hover:border-blue-600 focus:border-blue-600 focus:outline-none">
                        <option disabled selected value="">Select</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-400">
                        <!-- Heroicon name: solid/chevron-down -->
                        <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 12.586L4.707 7.293a1 1 0 00-1.414 1.414l6 6a1 1 0 001.414 0l6-6a1 1 0 10-1.414-1.414L10 12.586z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>                
            </div>
            <div class="flex items-center">
                <label class="pt-3 pb-3 text-sm font-bold block text-black">Paid or Unpaid</label>
                <p class="text-sm text-blue-500 font-inter">
                    &nbsp; *If set as Unpaid, not counted in working hours
                </p>
            </div>
            <div class="mb-4 pb-6 border-b border-blue-300">
                <button type="button" class="text-sm border-2 rounded-md px-6 py-1 mr-2 my-button" id="myButton"  onclick="handleButtonClick(this)">
                    Paid
                </button>
                <button type="button" class="text-sm border-2 rounded-md px-6 py-1 my-button" id="myButton"  onclick="handleButtonClick(this)">
                    Unpaid
                </button>
                
            </div>
            <div class="mt-6 flex justify-end">
                <button type="button" id="CancelBtn" class="border-2 py-2 px-4 rounded-md mr-4 hover:bg-gray-300 focus:outline-none focus:gray-red-300">Cancel</button>
                <button type="submit" class="w-20 bg-blue-700 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600 font-inter">Add</button>
            </div>
            
        </form>
    </div>


    <!-- <button class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600 z-0 relative" id="openModal">Open Popup Form</button> -->
 
    
    
    <!-- Button to open modal -->

    <!-- JavaScript to handle modal -->
    <script>
        function handleButtonClick(clickedButton) {
            const buttons = document.querySelectorAll('.my-button');
    
            buttons.forEach(button => {
                if (button === clickedButton) {
                    button.classList.add('text-blue-500', 'border-blue-500');
                    button.classList.remove('text-gray-500', 'border-gray-300');
                } else {
                    button.classList.remove('text-blue-500', 'border-blue-500');
                    button.classList.add('text-gray-500', 'border-gray-300');
                }
            });
        }

        function handleInputFocus() {
            document.getElementById('title').classList.add('focus:border-blue-500');
            document.getElementById('title').classList.remove('border-gray-300');
        }
        
        function handleInputBlur() {
            document.getElementById('title').classList.add('border-gray-300');
            document.getElementById('title').classList.remove('focus:border-blue-500');
        }
        function closeModal() {
            const overlay = document.getElementById('overlay');
            const modal = document.getElementById('modal');
            const openModalBtn = document.getElementById('openModal');
    
            overlay.classList.add('hidden');
            modal.classList.add('hidden');
            openModalBtn.classList.remove('opacity-0');
        }
        
        document.addEventListener("DOMContentLoaded", function() {
            const overlay = document.getElementById('overlay');
            const modal = document.getElementById('modal');
            const openModalBtn = document.getElementById('openModal');

            openModalBtn.addEventListener('click', function() {
                overlay.classList.remove('hidden');
                modal.classList.remove('hidden');
 
            });

            overlay.addEventListener('click', function() {
                overlay.classList.add('hidden');
                modal.classList.add('hidden');
             
            });
            CancelBtn.addEventListener('click', function() {
                closeModal();
            });
            exitBtn.addEventListener('click', function() {
                closeModal();
            });
        });
    </script>

{% endblock %}



