<div class="container mx-auto mt-3">
  <div class="flex">
    <div class="w-full rounded-xl p-4 bg-white">
      <ul class="list-disc pl-4 font-sans text-sm font-normal text-blue-600">
        <li>
          Master Admin and other admin user types can be managed in this menu.
        </li>
        <li>
          Please double check the Permisson of menu access from each user type
          to protect sensitive employee profile.
        </li>
      </ul>
    </div>
  </div>

  <div class="mx-auto flex space-x-3 h-[80vh]">
    <div class="w-[283px] border bg-white rounded-lg p-5 py-4 mt-2">
      <h6
        class="border-b border-blue-500 text-gray-700 py-4 mr-5 ml-2 text-base font-bold"
      >
        Default User Group
      </h6>
      <div class="text-center font-sans text-lg text-gray-700 mt-4">
        <button
          class="rounded-lg active:font-bold focus:font-bold focus:bg-blue-100 focus:text-blue-800 hover:bg-blue-100 h-[62px] p-4 w-[219px]"
        >
          <a href="{% url 'master_admin2' %}">Master Admin 2</a>
        </button>
        <button
          class="rounded-lg active:font-bold focus:font-bold focus:bg-blue-100 focus:text-blue-800 mt-4 hover:bg-blue-100 h-[62px] p-4 w-[219px]"
        >
          <a href="{% url 'head_group' %}">Head Group 1</a>
        </button>
      </div>
      <div>
        <h6
          class="border-b border-blue-500 text-gray-700 py-4 mr-5 ml-2 text-base font-bold"
        >
          New Group(s)
        </h6>
        <div class="flex justify-between rounded-lg active:font-bold focus:font-bold focus:bg-blue-100 focus:text-blue-800 hover:bg-blue-100 h-[62px] p-4 w-[219px] text-center font-sans text-lg text-gray-700 mt-4">
          <button class="ml-6">
            <a href="{% url 'testers' %}">Testers</a>
          </button>
          <button>
            <svg
            class="h-6 w-6 text-gray-700"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6a2 2 0 100-4 2 2 0 000 4zM12 12a2 2 0 100-4 2 2 0 000 4zM12 20a2 2 0 100-4 2 2 0 000 4z"
            />
          </svg>
          </button>
        </div>
      </div>
    </div>


  </div>
</div>
