{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} Home | Geopro {% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
  <!-- Include Tailwind CSS -->
  <link rel='icon' href="{% static 'images/favicon.ico' %}" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="bg-white">
  <!-- Sidebar -->
  <div class="h-screen flex overflow-hidden bg-blue-50">
    <div class="hidden bg-white h-screen border-r w-[283px] md:block flex-col justify-center items-center">
      
      {% include '_components/sidebar.html' %}

    </div>
    <!-- Content area -->
    <div class="flex flex-col w-0 flex-1 overflow-hidden">
        <!-- Page content -->

        {% include '_components/navbar.html' %}

        <!-- Main content area -->
        <main class="flex-1 relative overflow-y-hidden focus:outline-none">
            <!-- Add your main content here -->
            <div>
                {% block content %}


                {% endblock %}
            </div>
        </main>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>