{% extends 'base.html' %}

{% load static %} {% include '_components/header.html'%}

{% block title %} Approved | Geopro {% endblock %}

{% block content %} 

{% include '_components/_filing[components]/_widget/widgets.html' %}

<div class="container mx-auto mt-3">
    <div class="rounded-lg bg-white shadow-md w-full h-[204px]">
        <div class="flex space-x-6 p-5">
            <button id="dropdownBtn" type="button" class="ml-2 inline-flex h-[34px] w-[264px] justify-between rounded-md border border-gray-300 bg-white p-2 px-4 text-sm font-medium text-gray-700 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500">
                All Type
                <!-- Heroicon name: solid/chevron-down -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="-mr-1 ml-2 h-5 w-5">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </button>

              <button id="dropdownBtn" type="button" class="ml-2 inline-flex h-[34px] w-[264px] justify-between rounded-md border border-gray-300 bg-white p-2 px-4 text-sm font-medium text-gray-700 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500">
                Status
                <!-- Heroicon name: solid/chevron-down -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="-mr-1 ml-2 h-5 w-5">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </button>

              <div class=" flex items-center justify-between">
                <div class="relative">
                  <input
                    type="text"
                    placeholder="Search Employee Name" 
                    class="w-[264px] h-[34px] rounded-md border border-gray-300 px-4 py-2 outline-none focus:border-blue-500"
                  />
                  <div class="absolute inset-y-0 right-0 flex items-center pr-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      x="0px"
                      y="0px"
                      class="h-6 w-6"
                      viewBox="0,0,256,256"
                    >
                      <g
                        fill-opacity="0.27843"
                        fill="#000000"
                        fill-rule="nonzero"
                        stroke="none"
                        stroke-width="1"
                        stroke-linecap="butt"
                        stroke-linejoin="miter"
                        stroke-miterlimit="10"
                        stroke-dasharray=""
                        stroke-dashoffset="0"
                        font-family="none"
                        font-weight="none"
                        font-size="none"
                        text-anchor="none"
                        style="mix-blend-mode: normal"
                      >
                        <g transform="scale(5.33333,5.33333)">
                          <path
                            d="M20.5,6c-7.99037,0 -14.5,6.50964 -14.5,14.5c0,7.99036 6.50963,14.5 14.5,14.5c3.45636,0 6.63371,-1.22096 9.12891,-3.25l9.81055,9.81055c0.37623,0.39185 0.9349,0.54969 1.46055,0.41265c0.52565,-0.13704 0.93616,-0.54754 1.07319,-1.07319c0.13704,-0.52565 -0.0208,-1.08432 -0.41265,-1.46055l-9.81055,-9.81055c2.02904,-2.4952 3.25,-5.67255 3.25,-9.12891c0,-7.99036 -6.50963,-14.5 -14.5,-14.5zM20.5,9c6.36905,0 11.5,5.13096 11.5,11.5c0,3.10261 -1.2238,5.90572 -3.20898,7.9707c-0.12237,0.08994 -0.23037,0.19794 -0.32031,0.32031c-2.06499,1.98518 -4.86809,3.20898 -7.9707,3.20898c-6.36905,0 -11.5,-5.13096 -11.5,-11.5c0,-6.36904 5.13095,-11.5 11.5,-11.5z"
                          ></path>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>

              <div class="flex flex-grow justify-end">
                <div class="flex">
                    <button class="text-sm h-[34px] p-4 w-[117px] text-blue-300 rounded-l-md border  px-4 py-2 ">This Week</button>
                    <button class="text-sm h-[34px] p-4 w-[117px] text-blue-300 border py-2">Last Week</button>
                    <button class="text-sm h-[34px] p-4 w-[117px] text-blue-300 border py-2">This Month</button>
                    <button class="text-sm h-[34px] p-4 w-[117px] text-blue-300 border py-2">Last Month</button>
                    <button class="text-sm h-[34px] p-4 w-[117px] text-blue-300 rounded-r-md border px-4 py-2">Direct Input</button>
                  </div>
              </div>
              
            </div>

            <div class="ml-4 mr-4 p-2">
                <table class="w-full">
                  <tr>
                    <th class="border-b text-start border-gray-500 font-sans text-sm font-bold text-gray-500">No.</th>
                    <th class="border-b border-gray-500 text-center font-sans text-sm font-bold text-gray-500">Applicant</th>
                    <th class="border-b border-gray-500 text-center font-sans text-sm font-bold text-gray-500">Department</th>
                    <th class="border-b border-gray-500 text-center font-sans text-sm font-bold text-gray-500">Tier</th>
                    <th class="border-b border-gray-500 text-center font-sans text-sm font-bold text-gray-500">Type</th>
                    <th class="border-b border-gray-500 text-center font-sans text-sm font-bold text-gray-500">Application Name</th>
                    <th class="border-b border-gray-500 text-center font-sans text-sm font-bold text-gray-500">Used Date</th>
                    <th class="border-b border-gray-500 text-center font-sans text-sm font-bold text-gray-500">Approved Date</th>
                    <th class="border-b border-gray-500 text-center font-sans text-sm font-bold text-gray-500 pr-12">Status</th>
                  </tr>
                </table>
              </div>

        </div>
    </div>

    <div class="flex justify-center mt-2">
        <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
        <a href="#" aria-current="page"
            class="relative z-10 inline-flex  bg-blue-500 px-4 py-2 text-sm rounded-lg font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">1</a>
        </a>
    </div>

{% endblock %}