{% extends 'base.html' %}

{% load static %}


{% include '_components/header.html' %}


<title>{% block title %} Schedule | Geopro{% endblock %}</title>

{% block content %}
<!-- First Section -->
<div class="flex flex-col items-center justify-center mt-4 mx-5">
    <div class="flex flex-col rounded-xl shadow-lg bg-white w-[1581px] h-[106px] py-7 px-8">
        <div class="text-normal font-bold font-sans font-inter text-blue-500 relative right-5 bottom-3">
            Note:
        </div>
        <div>
            <ul class="list-disc text-sm text-blue-500 font-sans font-inter font-normal">
                <li><span>Employees must select “Overtime / Rest / Holiday / Night Shift” in Submit Work Schedule. In order to include the relevant work in salary.</span>
                </li>
                <li><span>If employees apply for “Overtime / Rest / Holiday / Night Shift” through a different work schedule, it will not be reflected in employee salary.</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End First Section -->

<!-- Second Section -->
<div class="grid grid-cols-3 grid-rows-3 gap-[1px] mt-4">
    <div class="rounded-lg shadow-lg mx-6 w-[496px] bg-white h-44" id="expandableForm">
        <div class="flex text-normal font-sans font-inter ml-4 font-bold pt-5">
            <span>Allow Overtime / Rest / Holiday / Night Shift
                <br>Registration?
            </span>
        </div>
        <div class="flex justify-between text-center font-normal font-sans font-inter text-base pt-8">
            <div class="ml-5">
                <button class="h-[55px] w-[92px] rounded-lg border border-gray-400 hover:border-2 hover:border-blue-600 hover:font-bold hover:text-blue-600 focus:border-2 focus:border-blue-600 focus:font-bold focus:text-blue-600 active:border-blue-600"
                        onclick="toggleForm(true)">Yes</button>
                <button class="h-[55px] w-[92px] rounded-lg border border-gray-400 hover:border-2 hover:border-blue-600 hover:font-bold hover:text-blue-600 focus:border-2 focus:border-blue-600 focus:font-bold focus:text-blue-600 active:border-blue-600 ml-2"
                        onclick="toggleForm(false)">No</button>
            </div>
            <button id="outerSaveBtn"
                    class="rounded-lg text-white bg-sky-800 w-[103px] h-[55px] mr-5 font-bold text-base font-sans font-inter hover:scale-105 ease-in duration-200">
                <span>Save</span>
            </button>
        </div>
        <!-- Form starts hidden and expands when "Yes" button is clicked -->
        <div id="formContainer" class="overflow-hidden hidden rounded-lg shadow-lg">
            <form action="#" method="post" class="p-5 bg-white">
                <label for="name" class="block mb-2 text-gray-700 font-bold text-base font-sans font-inter">Select an approver</label>
                <div class="flex justify-between items-center">
                    <label for="name" class="block text-gray-700 font-normal text-base font-sans font-inter">Level Head</label>
                    <div class="flex items-center mt-[1.5px]">
                        <input type="checkbox" id="automatic" name="automatic" class="mr-2"/>
                        <label for="automatic" class="font-sans text-sm font-normal">Automatic</label>
                    </div>
                </div>
                <!-- end form -->
                <!-- dropdown -->
                <div class="mt-4">
                    <select id="approver" name="approver" class="w-full border border-gray-400 rounded-md h-10 font-sans text-sm font-normal text-gray-500">
                        <option value="approver1">Level Head 1</option>
                        <option value="approver2">Level Head 2</option>
                        <option value="approver3">Level Head 3</option>
                    </select>
                </div>
                <!-- end dropdown -->
                <div class="flex justify-end mt-9">
                    <button id="innerSaveBtn"
                            class="rounded-lg text-white bg-sky-800 w-[103px] h-[55px] font-bold text-base font-sans font-inter hover:scale-105 ease-in duration-200">
                        <span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- End Second Section -->

    <!-- Third Section -->
    <div class="border-r border-l border-gray-400">
        <div class="rounded-lg shadow-lg mx-auto w-[496px] bg-white h-44" id="expandableForm1">
            <div class="flex text-base font-sans font-inter font-bold ml-5 pt-5">
                <span>Edit Time-in and Time-out settings?</span>
            </div>
            <div class="flex justify-between text-center font-normal font-sans font-inter text-base pt-14">
                <div class="ml-5">
                    <button class="h-[55px] w-[92px] rounded-lg border border-gray-400 hover:border-2 hover:border-blue-600 hover:font-bold hover:text-blue-600 focus:border-2 focus:border-blue-600 focus:font-bold focus:text-blue-600 active:border-blue-600"
                            onclick="toggleForm1(true)">Yes</button>
                    <button class="h-[55px] w-[92px] rounded-lg border border-gray-400 hover:border-2 hover:border-blue-600 hover:font-bold hover:text-blue-600 focus:border-2 focus:border-blue-600 focus:font-bold focus:text-blue-600 active:border-blue-600 ml-2"
                            onclick="toggleForm1(false)">No</button>
                </div>
                <button id="outerSaveBtn1"
                        class="rounded-lg text-white bg-sky-800 w-[103px] h-[55px] mr-5 font-bold text-base font-sans font-inter hover:scale-105 ease-in duration-200">
                    <span>Save</span>
                </button>
            </div>
            <!-- Form starts hidden and expands when "Yes" button is clicked -->
            <div id="formContainer1" class="overflow-hidden hidden rounded-lg shadow-lg">
                <form action="#" method="post" class="p-5 bg-white">
                    <label for="name" class="block mb-2 text-gray-700 font-bold text-base font-sans font-inter">Select an approver</label>
                    <div class="flex justify-between items-center">
                        <label for="name" class="block text-gray-700 font-normal text-base font-sans font-inter">Level Head</label>
                        <div class="flex items-center mt-[1.5px]">
                            <input type="checkbox" id="automatic" name="automatic" class="mr-2"/>
                            <label for="automatic" class="font-sans text-sm font-normal">Automatic</label>
                        </div>
                    </div>
                    <!-- end form -->
                    <!-- dropdown -->
                    <div class="mt-4">
                        <select id="approver1" name="approver" class="w-full border border-gray-400 rounded-md h-10 font-sans text-sm font-normal text-gray-500">
                            <option value="approver1">Level Head 1</option>
                            <option value="approver2">Level Head 2</option>
                            <option value="approver3">Level Head 3</option>
                        </select>
                    </div>
                    <!-- end dropdown -->
                    <div class="flex justify-end mt-9">
                        <button id="innerSaveBtn1"
                                class="rounded-lg text-white bg-sky-800 w-[103px] h-[55px] font-bold text-base font-sans font-inter hover:scale-105 ease-in duration-200">
                            <span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Third Section -->

    <!-- Fourth Section -->
    <div class="rounded-lg shadow-lg mx-5 w-[496px] bg-white h-44">
        <div class="flex text-base font-sans font-inter font-bold ml-5 pt-5">
            <span>Other work schedule settings</span>
        </div>
        <div class="flex justify-end text-center font-normal font-sans font-inter text-base pt-14">
            <button id="openModal" class="rounded-lg text-white bg-sky-800 w-[103px] h-[55px] mr-5 font-bold text-base font-sans font-inter hover:scale-105 ease-in duration-200">
                <span>Add</span>
            </button>
        </div>
    </div>
    <!-- End Fourth Section -->

    <!-- Borders -->
    <div class="row-start-2 col-start-2 border-r border-l border-gray-400"></div>
    <div class="row-start-3 col-start-2 border-r border-l border-gray-400"></div>
    <div class="row-start-4 col-start-2 border-r border-l border-gray-400"></div>
    <!-- End Borders -->

    <!-- col-start-3 -->
    <div class="row-start-2 col-start-3 rounded-lg shadow-lg mx-5 bg-white h-[90px] mt-1">
        <div class="flex items-center justify-between text-gray-700 text-base font-sans font-inter font-bold ml-5 pt-5">
            <span>Work Schedule 1</span>
            <div class="text-center font-normal font-sans font-inter text-base">
                <button class="rounded-md text-blue-600 border border-blue-600 w-[110px] h-[36px] mr-5 text-base font-sans font-inter hover:scale-105 ease-in duration-200">
                    <span>Details</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row-start-2 col-start-3 rounded-lg shadow-lg mx-5 bg-white h-[90px] mt-28">
        <div class="flex items-center justify-between text-gray-700 text-base font-sans font-inter font-bold ml-5 pt-5">
            <span>Work Schedule 2</span>
            <div class="text-center font-normal font-sans font-inter text-base">
                <button class="rounded-md text-blue-600 border border-blue-600 w-[110px] h-[36px] mr-5 text-base font-sans font-inter hover:scale-105 ease-in duration-200">
                    <span>Details</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row-start-3 col-start-3 rounded-lg shadow-lg mx-5 bg-white h-[90px] mt-4">
        <div class="flex items-center justify-between text-gray-700 text-base font-sans font-inter font-bold ml-5 pt-5">
            <span>Work Schedule 3</span>
            <div class="text-center font-normal font-sans font-inter text-base">
                <button class="rounded-md text-blue-600 border border-blue-600 w-[110px] h-[36px] mr-5 text-base font-sans font-inter hover:scale-105 ease-in duration-200">
                    <span>Details</span>
                </button>
            </div>
        </div>
    </div>
    <!-- End col-start-3 -->
</div>

<!-- modal -->
{% include 'modals/addWorkSchedule.html' %}

<script src="{% static 'js/script.js' %}"></script>


{% endblock %}