<div class="flex ml-2 ">
    <div class=" grid grid-cols-3 text-center text-xs font-normal mt-5">
      <div class=" border rounded-s-md w-20 h-7 py-1 border-gray-300">
        <button>
          Weekly
        </button>
      </div>
      <div class=" border w-20 h-7 py-1 border-gray-300 text-blue-500 bg-opacity-100">
        <button>
          Monthly
        </button>
      </div>
      <div class=" border rounded-e-md w-20 h-7 py-1 border-gray-300 text-blue-500 bg-opacity-100">
        <button>
          Today
        </button>
      </div>
    </div>
  </div>
  