{% extends 'base.html' %}

{% include '_components/header.html' %} 

{% block title %} Head Group 1 | Geopro {% endblock %} 

{% block content %}

<div class="container mx-auto mt-3">
  <div class="flex">
    <div class="w-full rounded-xl p-4 bg-white">
      <ul class="list-disc pl-4 font-sans text-sm font-normal text-blue-600">
        <li>
          Master Admin and other admin user types can be managed in this menu.
        </li>
        <li>
          Please double check the Permisson of menu access from each user type
          to protect sensitive employee profile.
        </li>
      </ul>
    </div>
  </div>

  <div class="mx-auto flex space-x-3 h-[80vh]">
    <div class="w-[283px] border bg-white rounded-lg p-5 py-4 mt-2">
      <h6
        class="border-b border-blue-500 text-gray-700 py-4 mr-5 ml-2 text-base font-bold"
      >
        Default User Group
      </h6>
      <div class="text-center font-sans text-lg text-gray-700 mt-4">
        <button
          class="rounded-lg active:font-bold focus:font-bold focus:bg-blue-100 focus:text-blue-800 hover:bg-blue-100 h-[62px] p-4 w-[219px]"
        >
          <a href="{% url 'master_admin2' %}">Master Admin 2</a>
        </button>
        <button
          class="rounded-lg active:font-bold focus:font-bold focus:bg-blue-100 focus:text-blue-800 mt-4 hover:bg-blue-100 h-[62px] p-4 w-[219px]"
        >
        <a href="{% url 'head_group' %}">Head Group 1</a>
        </button>
      </div>
      <div>
        <h6
          class="border-b border-blue-500 text-gray-700 py-4 mr-5 ml-2 text-base font-bold"
        >
          New Group(s)
        </h6>
        <div class="flex justify-between rounded-lg active:font-bold focus:font-bold focus:bg-blue-100 focus:text-blue-800 hover:bg-blue-100 h-[62px] p-4 w-[219px] text-center font-sans text-lg text-gray-700 mt-4">
            <button class="ml-6">
              <a href="{% url 'testers' %}">Testers</a>
            </button>
            <button>
              <svg
              class="h-6 w-6 text-gray-700"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 6a2 2 0 100-4 2 2 0 000 4zM12 12a2 2 0 100-4 2 2 0 000 4zM12 20a2 2 0 100-4 2 2 0 000 4z"
              />
            </svg>
            </button>
          </div>
      </div>
    </div>

    <!-- Company Info -->
    <div
    class="scrollable col-span-3 space-y-4 gap-y-2 overflow-scroll"
  >
    <div class="ml-2 mt-2 h-[179px] w-[1274px] rounded-lg bg-white shadow-sm">
      <div
        class="flex justify-between py-6 ml-4 mr-4 border-b-2 border-blue-600"
      >
        <h6 class="font-bold font-sans text-xl pt-2 text-gray-700">
          Head Group List
        </h6>
        <span class="font-sans text-sm font-normal text-blue-600 mt-3">* Marked as ‘Head’: Employees > Profile</span>
      </div>
      <div class="flex justify-items-start">
        <div>foobar</div>
        <div>foobar</div>
        <div>foobar</div>
      </div>
    </div>
  
    <!-- Permissions -->
    <div class="item bg-white w-[1274px] h-[380px] ml-2 rounded-lg">
      <div
        class="flex justify-between py-4 ml-4 mr-4 border-b-2 border-blue-600"
      >
        <h6 class="font-bold font-sans text-xl pt-2 text-gray-700">
          Permissions (Employee Profile Access)
        </h6>
        <button
          class="rounded-lg bg-blue-800 text-white text-xs font-bold font-sans w-[71px] h-[41px]"
        >
          Save
        </button>
      </div>
  
      <!-- Toggle buttons -->
      <!-- Job Info -->
      <div class="mt-1">
        <div class="flex items-center justify-between p-4">
          <div class="font-sans text-sm font-medium text-gray-700">
            Job Info
          </div>
          <div class="flex items-center space-x-40">
            <!-- Added flex container -->
            <!-- Toggle buttons -->
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >N/A</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >View</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-700"
                  >View & Edit</span
                >
              </label>
            </div>
            <!-- Dropdown button -->
            <div>
              <button
                id="dropdownBtn"
                type="button"
                class="inline-flex h-[41px] w-[264px] justify-between rounded-md border border-gray-300 bg-white p-2 px-4 text-sm font-medium text-gray-700 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500"
              >
                ALL
                <!-- Heroicon name: solid/chevron-down -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="-mr-1 ml-2 h-5 w-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Basic Info -->
      <div class="mt-1">
        <div class="flex items-center justify-between p-4">
          <div class="font-sans text-sm font-medium text-gray-700">
            Basic Info
          </div>
          <div class="flex items-center space-x-40">
            <!-- Added flex container -->
            <!-- Toggle buttons -->
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >N/A</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >View</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-700"
                  >View & Edit</span
                >
              </label>
            </div>
            <!-- Dropdown button -->
            <div>
              <button
                id="dropdownBtn"
                type="button"
                class="inline-flex h-[41px] w-[264px] justify-between rounded-md border border-gray-300 bg-white p-2 px-4 text-sm font-medium text-gray-700 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500"
              >
                ALL
                <!-- Heroicon name: solid/chevron-down -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="-mr-1 ml-2 h-5 w-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Educational info -->
      <div class="mt-1">
        <div class="flex items-center justify-between p-4">
          <div class="font-sans text-sm font-medium text-gray-700">
            Educational Info
          </div>
          <div class="flex items-center space-x-40">
            <!-- Added flex container -->
            <!-- Toggle buttons -->
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >N/A</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >View</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-700"
                  >View & Edit</span
                >
              </label>
            </div>
            <!-- Dropdown button -->
            <div>
              <button
                id="dropdownBtn"
                type="button"
                class="inline-flex h-[41px] w-[264px] justify-between rounded-md border border-gray-300 bg-white p-2 px-4 text-sm font-medium text-gray-700 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500"
              >
                ALL
                <!-- Heroicon name: solid/chevron-down -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="-mr-1 ml-2 h-5 w-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Career/Qualification -->
      <div class="mt-1">
        <div class="flex items-center justify-between p-4">
          <div class="font-sans text-sm font-medium text-gray-700">
            Career/Qualification
          </div>
          <div class="flex items-center space-x-40">
            <!-- Added flex container -->
            <!-- Toggle buttons -->
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >N/A</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >View</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-700"
                  >View & Edit</span
                >
              </label>
            </div>
            <!-- Dropdown button -->
            <div>
              <button
                id="dropdownBtn"
                type="button"
                class="inline-flex h-[41px] w-[264px] justify-between rounded-md border border-gray-300 bg-white p-2 px-4 text-sm font-medium text-gray-700 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500"
              >
                ALL
                <!-- Heroicon name: solid/chevron-down -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="-mr-1 ml-2 h-5 w-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Permissions by function -->
    <div class="item bg-white w-[1274px] ml-2 rounded-lg">
      <div
        class="flex justify-between py-4 ml-4 mr-4 border-b-2 border-blue-600"
      >
        <h6 class="font-bold font-sans text-xl pt-2 text-gray-700">
          Permissions by function
        </h6>
        <button
          class="rounded-lg bg-blue-800 text-white text-xs font-bold font-sans w-[71px] h-[41px]"
        >
          Save
        </button>
      </div>
  
      <!-- Toggle buttons -->
      <!-- Dashboard -->
      <div class="mt-1">
        <div class="flex items-center justify-between p-4">
          <div class="font-sans text-sm font-medium text-gray-700">
            Dashboard
          </div>
          <div class="flex items-center space-x-40">
            <!-- Added flex container -->
            <!-- Toggle buttons -->
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >View</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-700"
                  >View & Edit</span
                >
              </label>
            </div>
            <!-- Dropdown button -->
            <div>
              <button
                id="dropdownBtn"
                type="button"
                class="inline-flex h-[41px] w-[264px] justify-between rounded-md border border-gray-300 bg-white p-2 px-4 text-sm font-medium text-gray-700 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500"
              >
                ALL
                <!-- Heroicon name: solid/chevron-down -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="-mr-1 ml-2 h-5 w-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
  
  
      <!-- Attendance -->
      <div class="mt-1">
        <div class="flex items-center justify-between p-4">
          <div class="font-sans text-sm font-medium text-gray-700">
            Attendance
          </div>
          <div class="flex items-center space-x-40">
            <!-- Added flex container -->
            <!-- Toggle buttons -->
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >N/A</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >View</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-700"
                  >View & Edit</span
                >
              </label>
            </div>
            <!-- Dropdown button -->
            <div>
              <button
                id="dropdownBtn"
                type="button"
                class="inline-flex h-[41px] w-[264px] justify-between rounded-md border border-gray-300 bg-white p-2 px-4 text-sm font-medium text-gray-700 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500"
              >
                ALL
                <!-- Heroicon name: solid/chevron-down -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="-mr-1 ml-2 h-5 w-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
  
  
      <!-- Leaves -->
      <div class="mt-1">
        <div class="flex items-center justify-between p-4">
          <div class="font-sans text-sm font-medium text-gray-700">
            Leaves
          </div>
          <div class="flex items-center space-x-40">
            <!-- Added flex container -->
            <!-- Toggle buttons -->
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >N/A</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >View</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-700"
                  >View & Edit</span
                >
              </label>
            </div>
            <!-- Dropdown button -->
            <div>
              <button
                id="dropdownBtn"
                type="button"
                class="inline-flex h-[41px] w-[264px] justify-between rounded-md border border-gray-300 bg-white p-2 px-4 text-sm font-medium text-gray-700 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500"
              >
                ALL
                <!-- Heroicon name: solid/chevron-down -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="-mr-1 ml-2 h-5 w-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Team -->
      <div class="mt-1">
        <div class="flex items-center justify-between p-4">
          <div class="font-sans text-sm font-medium text-gray-700">Team</div>
          <div class="flex items-center space-x-40">
            <!-- Added flex container -->
            <!-- Toggle buttons -->
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >N/A</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >View</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-700"
                  >View & Edit</span
                >
              </label>
            </div>
            <!-- Dropdown button -->
            <div>
              <button
                id="dropdownBtn"
                type="button"
                class="inline-flex h-[41px] w-[264px] justify-between rounded-md border border-gray-300 bg-white p-2 px-4 text-sm font-medium text-gray-700 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500"
              >
                ALL
                <!-- Heroicon name: solid/chevron-down -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="-mr-1 ml-2 h-5 w-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Team Setting -->
      <div class="mt-1">
        <div class="flex items-center justify-between p-4">
          <div class="font-sans text-sm font-medium text-gray-700">
            Team - Settings
          </div>
          <div class="flex items-center space-x-40">
            <!-- Added flex container -->
            <!-- Toggle buttons -->
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >N/A</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >View</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-700"
                  >View & Edit</span
                >
              </label>
            </div>
            <!-- Dropdown button -->
            <div class="invisible">
              <button
                id="dropdownBtn"
                type="button"
                class="inline-flex h-[41px] w-[264px] justify-between rounded-md border border-gray-300 bg-white p-2 px-4 text-sm font-medium text-gray-700 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500"
              >
                ALL
                <!-- Heroicon name: solid/chevron-down -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="-mr-1 ml-2 h-5 w-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Filing -->
      <div class="mt-1">
        <div class="flex items-center justify-between p-4">
          <div class="font-sans text-sm font-medium text-gray-700">
            Filing
          </div>
          <div class="flex items-center space-x-40">
            <!-- Added flex container -->
            <!-- Toggle buttons -->
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >N/A</span
                >
              </label>
            </div>
            <div class="invisible">
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-500"
                  >View</span
                >
              </label>
            </div>
            <div>
              <label class="inline-flex cursor-pointer items-center">
                <input type="checkbox" value="" class="peer sr-only" />
                <div
                  class="relative h-3 w-9 rounded-full after:absolute after:top-[-3px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-gray-500 after:transition-all after:content-[''] peer-checked:bg-blue-600 peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full dark:bg-gray-300"
                ></div>
                <span class="ms-3 text-sm font-medium text-gray-700"
                  >View & Edit</span
                >
              </label>
            </div>
            <!-- Dropdown button -->
            <div class="invisible">
              <button
                id="dropdownBtn"
                type="button"
                class="inline-flex h-[41px] w-[264px] justify-between rounded-md border border-gray-300 bg-white p-2 px-4 text-sm font-medium text-gray-700 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500"
              >
                ALL
                <!-- Heroicon name: solid/chevron-down -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="-mr-1 ml-2 h-5 w-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>


  </div>
</div>

{% endblock %}
